.article-title {
    background-image: url(/modules/images/background_img/COLOURBOX5959287.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.title__h1 {
    width: 58%;
    text-align: center;
    margin: 0 auto;
}