<footer class="footer">
    <div class="info-left">
        <div class="info-left__text">
            <p class="info-left__p">
                Hi-FiCorner
            </p>
            <p class="info-left__p">
                edinburgh 2 Joppa Road EH15 2EU
            </p>
            <p class="info-left__p">
                Falkirk 44 Cow Wynd FK1 1PU
            </p>
        </div>
        <a href="" class="return-refunds"> Returns & Refunds</a>
        <a href="" class="privacy-policy"> Privacy policy</a>
    </div>
    <div class="info-right">
        <div class="info-right-payment-list">
            <img src="/assets/images/pay_logos.png" alt="Payment Logos" />
        </div>
        <ul class="footer-media-list">
            <li class="footer-media-list__item">
                <img src="/assets/images/footer-facebook.png" alt="facebook logo" />
            </li>
            <li class="footer-media-list__item">
                <img src="/assets/images/footer-youtube.png" alt="facebook logo" />
            </li>
            <li class="footer-media-list__item">
                <img src="/assets/images/footer-twitter.png" alt="facebook logo" />
            </li>
            <li class="footer-media-list__item">
                <img src="/assets/images/footer-linkedin.png" alt="facebook logo" />
            </li>
        </ul>
    </div>
</footer>