<% include ../partials/head %>
<header class="hero">
    <div class="hero-container">
        <% include ../partials/nav %>
    </div>
    <div class="logo-container">
        <h2 class="brandsH2">
            TOP BRANDS
        </h2>
        <img src="/assets/images/logo-white.png" alt="hifi logo" />
    </div>
</header>

<article class="brands-2-column-article">
    <section class="left-brand-section">
        <h2 class="leftbrand__h2">
            Here are just a few of the bands we stock:
        </h2>
        <img src="/assets/images/download.png" alt="Brands logos">
    </section>
    <section class="rightbrandsection">
        <img src="/assets/images/bg-main.jpg" alt="speaker background img">
        <div class="textContainer-rigihtbrandsection">
            <h2 class="rightbrandsection__h2">
                BRANDS
            </h2>
            <p class="rightbrandsection__p">
                As an independent retailer of home audio and visual products, we are able to select the very
                best
                brands and manufacturers from across the world.
            </p>
            <p class="rightbrandsection__p">
                Not only do we have the best known brands such as B&W, Devialet, KEF, Naim, and Linn; we also
                stock
                and are well versified with smaller autonomous companies like Michell Engineering, Neat
                Acoustics,
                Harbeth, SME, Trichord Research, PrimaLuna, to name but a few.
            </p>
            <p class="rightbrandsection__p">
                With over a hundred brands, we can happily say that if a brand meets our high standards for
                sound
                reproduction, then you can be assured to find it at Hi-Fi Corner.
            </p>
            <a href="/html/shop-list.html" class="rightbrandsection__link">
                VISIT OUR SHOP TO FIND MORE BRANDS>
            </a>
        </div>
    </section>
</article>

<% include ../partials/footer %>
<!--WRAPPER-ENDS-->
<% include ../partials/after-footer %>