<% include ../partials/head %>

<header class="hero">
    <div class="hero-container">

        <% include ../partials/nav %>
    </div>

    <section class="shop-items-grid">
        <ul class="shop-list">
            <li class="shop-list__item">
                <a href="/html/brands.html"> <img src="/modules/images/shop_front_page/image_1.png"
                        alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href="/html/shop-list.html?catagory=forstaerkere"> <img
                        src="/modules/images/shop_front_page/image_2.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href="/html/shop-list.html?catagory=hojtalere"> <img
                        src="/modules/images/shop_front_page/image_3.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href="/html/shop-list.html?catagory=pladespillere"> <img
                        src="/modules/images/shop_front_page/image_4.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href="/html/shop-list.html?catagory=cdPlayer"> <img src="/modules/images/shop_front_page/image_5.png"
                        alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href=""> <img src="/modules/images/shop_front_page/image_6.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href=""> <img src="/modules/images/shop_front_page/image_7.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href=""> <img src="/modules/images/shop_front_page/image_8.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href=""> <img src="/modules/images/shop_front_page/image_9.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href="/html/shop-list.html?catagory=dvdafspillere"> <img
                        src="/modules/images/shop_front_page/image_10.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href=""> <img src="/modules/images/shop_front_page/image_11.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href=""> <img src="/modules/images/shop_front_page/image_12.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href=""> <img src="/modules/images/shop_front_page/image_13.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href=""> <img src="/modules/images/shop_front_page/image_14.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href=""> <img src="/modules/images/shop_front_page/image_15.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item_button">
                <button class="shop-now-button"> <a href="shop-list.html?tag=all" class="shop-now-link">Shop
                        Now</a></button>
            </li>
        </ul>
    </section>

</header>

<% include ../partials/footer %>
<!--WRAPPER-ENDS-->
<% include ../partials/after-footer %>