<% include ../partials/head %>

<header class="hero">
    <div class="hero-container">

        <% include ../partials/nav %>
    </div>

    <section class="shop-items-grid">
        <ul class="shop-list">
            <li class="shop-list__item">
                <a href="/brands"> <img src="/assets/images/image_1.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href="/shop-list?category=Amplifiers"> <img src="/assets/images/image_2.png"
                        alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href="/shop-list?category=Speakers"> <img src="/assets/images/image_3.png"
                        alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href="/shop-list?category=LP Speakers"> <img src="/assets/images/image_4.png"
                        alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href="/shop-list?category=CD Players"> <img src="/assets/images/image_5.png"
                        alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href=""> <img src="/assets/images/image_6.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href=""> <img src="/assets/images/image_7.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href=""> <img src="/assets/images/image_8.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href=""> <img src="/assets/images/image_9.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href="/shop-list?category=DVD Players"> <img src="/assets/images/image_10.png"
                        alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href=""> <img src="/assets/images/image_11.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href=""> <img src="/assets/images/image_12.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href=""> <img src="/assets/images/image_13.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href=""> <img src="/assets/images/image_14.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item">
                <a href=""> <img src="/assets/images/image_15.png" alt="product thumbnail"></a>
            </li>
            <li class="shop-list__item_button">
                <button class="shop-now-button"> <a href="/shop-list?tag=all" class="shop-now-link">Shop
                        Now</a></button>
            </li>
        </ul>
    </section>

</header>

<% include ../partials/footer %>
<!--WRAPPER-ENDS-->
<% include ../partials/after-footer %>