<% include ../partials/head %>
<header class="hero">
    <div class="hero-container">
        <img class="small-logo" src="/modules/images/background_img/logo-white.png" alt="small logo">

        <% include ../partials/nav %>
    </div>
</header>

<main class="singleProductMain">
    <h3 class="aside-title">
        <span class="gold">Home</span> /<span class="gold"> #product catogory Amplifiers</span> / #product name
    </h3>
    <img src="/modules/images/background_img/red-banner.png" alt="Sale advertisement image">

    <article class="productInformation">
        <section class="left-article-section">
            <div class="product-image-container">
                <img src="/modules/images/dvdafspillere/exposure_2010S.jpg" alt="image of product">
            </div>
            <h2 class="left-article-section__h2">
                MORE VIEWS
            </h2>
            <article class="left-article-section__bottom-article">
                <h2 class="bottom-article__h2">
                    DESCRIPTION
                </h2>
                <img src="/modules/images/background_img/bttom-article-text.png" alt="prodcut description">
            </article>
        </section>




        <section class="right-article-section">
            <h1 class="right-article-section__h1">
                product-name Lorem ipsum dolor sit amet consectetur.
            </h1>

            <div class="name-price">
                <p>See other #brand products</p>
                <p>#price 400£</p>
            </div>

            <p class="product__lore">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium fuga
                sapiente totam iusto
                minus molestias accusantium atque optio obcaecati ipsam magnam, perferendis numquam ipsum, illum
                exercitationem. Nulla tempora autem facere?</p>

            <div class="button-list">
                <button class="button-list__item">
                    ASK A QUESTION
                </button>
                <button class="button-list__item">
                    PART EXCHANGE
                </button>
                <button class="button-list__item">
                    PAY BY FINANCE
                </button>
                <button class="button-list__item">
                    SEEN A BETTER PRICE?
                </button>
            </div>

            <div class="product-color">
                <div class="text-color-wrapper">
                    <h4 class="product-color__h4">
                        Finish <span class="red">*</span>
                    </h4>
                    <p class=" product-color__p_red red">*Required Fields</p>
                </div>
                <form action="" class="color-form">
                    <div class="input-wrapper">
                        <input class="color-form__input" type="radio" name="color" value="black"> Black
                    </div>
                    <div class="input-wrapper">
                        <input class="color-form__input" type="radio" name="color" value="silver"> Silver
                    </div>
                </form>
            </div>

            <div class="card-options-container">
                <div class="border-bottom-container">
                    <form class="quantity">
                        <p class="quantity__text">Qty</p>
                        <input class="quantity__input" type="text" placeholder="1" value="1">
                        <button class="quantity__button" type="submit">ADD TO CART</button>
                    </form>

                    <div class="paypal-button-list">
                        <p class="paypal-button-list__gold-text">-OR-</p>
                        <button class="paypal-button">
                            <i class="fab fa-paypal"></i>
                            Pay<span class="blue">Pal</span> Check Out
                        </button>
                        <p class="paypal-button-bg-text">The safer, easier way to pay</p>
                    </div>
                </div>
            </div>
            <h2 class="addional-information-h2">
                additional information
            </h2>
            <table class="right-section__catagory-table">
                <tr class="table-row">
                    <td class="grey-table">MANUFACTURER</td>
                    <td class="white-table">Marantz</td>
                </tr>
                <tr class="table-row">
                    <td class="grey-table">MANUFACTURER LINK</td>
                    <td class="white-table"> <a class="table-link" href="">Product-link</a> </td>
                </tr>
                <tr class="table-row">
                    <td class="grey-table">FREE WARRANTY</td>
                    <td class="white-table">3 Years</td>
                </tr>
                <tr class="table-row">
                    <td class="grey-table">DELIVERY CHARGE</td>
                    <td class="white-table">Free</td>
                </tr>
                <tr class="table-row">
                    <td class="grey-table">DELIVERY TIME</td>
                    <td class="white-table"> 1 - 5 Working days</td>
                </tr>
                <tr class="table-row">
                    <td class="grey-table">CARD SURCHARGES</td>
                    <td class="white-table"> No</td>
                </tr>

            </table>

        </section>
    </article>


    <footer class="main-footer">
        <a href=""><i class="fas fa-phone-alt"></i></a>
        <h2 class="main-footer__h2">CALLS US ABOUT THIS PRODUCT</h2>
    </footer>
</main>



<% include ../partials/footer %>
<!--WRAPPER-ENDS-->

<% include ../partials/after-footer %>