<% include ../partials/head %>
<header class="hero">
    <div class="hero-container">
        <img class="small-logo" src="/modules/images/background_img/logo-white.png" alt="small logo">

        <% include ../partials/nav %>
    </div>
</header>


<main class="product-list-main">
    <aside class="product__aside">
        <h3 class="aside-title">
            <span class="gold">Home</span> / Amplifiers
        </h3>
        <article class="aside__catagory">
            <ul class="catagorylist">
                <li class="catagorylist__item">
                    <a href="shop-list.html?catagory=forstaerkere" class="catagorylist__text"
                        id="dropDown">Amplifiers</a>
                    <a href="shop-list.html?catagory=forstaerkere&subCatagory=forforstaerkere"
                        class="catagorylist__text dropDown-item">Intergrated implifiers</a>
                    <a href="shop-list.html?catagory=forstaerkere&subCatagory=intforstaerkere"
                        class="catagorylist__text dropDown-item">Power Amplifiers</a>
                    <a href="shop-list.html?catagory=forstaerkere&subCatagory=roerforstaerkere"
                        class="catagorylist__text dropDown-item">Preamplifiers Amplifiers</a>
                </li>
                <li class="catagorylist__item">
                    <a href="shop-list.html?catagory=hojtalere" class="catagorylist__text">Speakers</a>
                </li>
                <li class="catagorylist__item">
                    <a href="shop-list.html?catagory=pladespillere" class="catagorylist__text">Turntables</a>
                </li>
                <li class="catagorylist__item">
                    <a href="shop-list.html?catagory=cdPlayer" class="catagorylist__text">CD Players</a>
                </li>
                <li class="catagorylist__item">
                    <a class="catagorylist__text">Streamers</a>
                </li>
                <li class="catagorylist__item">
                    <a class="catagorylist__text">Cables</a>
                </li>
                <li class="catagorylist__item">
                    <a class="catagorylist__text">Furniture</a>
                </li>
                <li class="catagorylist__item">
                    <a class="catagorylist__text">Headphones</a>
                </li>
                <li class="catagorylist__item">
                    <a href="shop-list.html?catagory=dvdafspillere" class="catagorylist__text">Home Cinema</a>
                </li>
                <li class="catagorylist__item">
                    <a class="catagorylist__text">Ceiling Speakers</a>
                </li>
                <li class="catagorylist__item">
                    <a class="catagorylist__text">TV</a>
                </li>
                <li class="catagorylist__item">
                    <a class="catagorylist__text">Vinyl</a>
                </li>
                <li class="catagorylist__item">
                    <a class="catagorylist__text">Outlet - Save ££££</a>
                </li>

            </ul>
        </article>
        <article class="aside__filter">
            <h2 class="filter__h2">SHOP BY</h2>
            <h4 class="Filter__h4">Filter</h4>
            <h4 class="Filter__h4">PRICE</h4>

            <ul class="priceList">
                <li class="priceList__item">
                    <a class="priceList__priceRange">
                        £0.00 - £799.99 (10)
                    </a>
                </li>
                <li class="priceList__item">
                    <a class="priceList__priceRange">
                        £800.00 - £999.99 (11)
                    </a>
                </li>
                <li class="priceList__item">
                    <a class="priceList__priceRange">
                        £1,000.00 - £1,499.99 (13)
                    </a>
                </li>
                <li class="priceList__item">
                    <a class="priceList__priceRange">
                        £1,500.00 - £1,999.99 (13)
                    </a>
                </li>
                <li class="priceList__item">
                    <a class="priceList__priceRange">
                        £2,000.00 - £2,999.99 (20)
                    </a>
                </li>
                <li class="priceList__item">
                    <a class="priceList__priceRange">
                        £3,000.00 - £3,499.99 (11)
                    </a>
                </li>
                <li class="priceList__item">
                    <a class="priceList__priceRange">
                        £3,500.00 - £4,999.99 (17)
                    </a>
                </li>
                <li class="priceList__item">
                    <a class="priceList__priceRange">
                        £5,000.00 - £7,999.99 (16)
                    </a>
                </li>
                <li class="priceList__item">
                    <a class="priceList__priceRange">
                        £8,000.00 - £11,999.99 (9)
                    </a>
                </li>
                <li class="priceList__item">
                    <a class="priceList__priceRange">
                        £12,000.00 - and Above(13)
                    </a>
                </li>
            </ul>
            <h4 class="Filter__h4">MANUFACTURER</h4>
            <ul class="manufacturerList">
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">
                        Arcam (5)
                    </a>
                </li>

                <!-- (li.manufacturerList__item>p.manufacturer__name{Brand ($)})*23 -->
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">Astell and Kern (1)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">ATC (7)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">Audiolab (4)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">AVID (3)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">Chord Electrocnics (17)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">Classe (2)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">Denon (3)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">Devialet (6)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">EAT (2)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">Graham Slee (2)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">Linn (4)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">Marantz (5)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">Meridian (9)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">Naim (13)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">PrimaLuna (10)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">Primare (4)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">Quad (9)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">Rotel (8)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">Sennheiser (1)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">Sugden (11)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">Technics (1)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">Trinnov (1)</a>
                </li>
                <li class="manufacturerList__item">
                    <a class="manufacturer__name">Yamaha (5)</a>
                </li>
            </ul>
        </article>
    </aside>

    <section class="product__list">
        <h2 class="mainh2">
            AMPLIFIERS
        </h2>
        <nav class="productNavigation">
            <div class="navContainer">
                <h4 class="productNavigation__h4">
                    SORT BY:
                </h4>
                <select name="price" class="selectFilter">
                    <option class="filterOption" value="price">Price</option>
                    <option class="filterOption" value="name">Name</option>
                    <option class="filterOption" value="popular">Popular</option>
                </select>
                <div class="iconsContainer">
                    <h4 class="productNavigation__h4_down">
                        VIEW AS:
                    </h4>
                    <i class="fas fa-th-large" id="grid-icon"></i>
                    <i class="fas fa-bars" id="column-icon"></i>
                </div>
                <h4 class="productNavigation__h3">
                    <span class="bold" id="antal"> 133 Item(s)</span> SHOW:
                    </h3>
                    <select name="size" class="Select-size">
                        <option class="sizeOption" value="300">300</option>
                        <option class="sizeOption" value="200">200</option>
                        <option class="sizeOption" value="100">100</option>
                    </select>
            </div>
        </nav>

        <ul class="productslist">
            <!-- <li class="productslist__item">
                        <a href="product-template.html">
                            <img src="https://www.mayorsfundforlondon.org.uk/wp-content/uploads/2016/06/img-placeholder-square-300x300.jpg"
                                alt="image of product">
                        </a>
                        <h2 class="productName">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, explicabo!
                        </h2>

                        <p class="productPriceTag">
                            400£
                        </p>
                        <button class="addCartButton">
                            ADD TO CART
                        </button>
                    </li> -->
        </ul>
    </section>
    <aside class="product__brands">
        <h3 class="brands__h3">
            MANUFACTURER
        </h3>
        <ul class="brandList">
            <li class="brandList__item">
                <a href="shop-list.html?brand=creek" class="brandList__text">CREEK</a>
            </li>
            <li class="brandList__item">
                <a href="shop-list.html?brand=manley" class="brandList__text">MANLEY</a>
            </li>
            <li class="brandList__item">
                <a href="shop-list.html?brand=parasound" class="brandList__text">PARASOUND</a>
            </li>
            <li class="brandList__item">
                <a href="shop-list.html?brand=project" class="brandList__text">PROJECT</a>
            </li>
            <li class="brandList__item">
                <a href="shop-list.html?brand=jolida" class="brandList__text">JOLIDA</a>
            </li>
            <li class="brandList__item">
                <a href="shop-list.html?brand=boesendorfer" class="brandList__text">BOESENDORFER</a>
            </li>
            <li class="brandList__item">
                <a href="shop-list.html?brand=harbeth" class="brandList__text">HARBETH</a>
            </li>
        </ul>
        <a href="shop-list.html?tag=all" class="brands__h5">
            View All
        </a>
    </aside>
</main>


<% include ../partials/footer %>
<!--WRAPPER-ENDS-->

<% include ../partials/after-footer %>